.menuCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  @media screen and (max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 7rem;
  }
  @media screen and (max-width: 670px) {
    grid-template-columns: repeat(1, 1fr);
  }
  &__grid {
    margin-bottom: 1rem;
    &__content {
      display: block;
      position: relative;
      overflow: hidden;

      box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);
      // box-shadow: 8px 8px 3px rgb(80, 43, 207);

      border-radius: 15px;
      background-color: white;

      h6 {
        font-size: 1.5rem;
        color: black;
      }

      img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
      }
      ul {
        transform: translateY(-600px);
        transition: all 0.4s ease-in-out;
        color: #2e344e;
        position: absolute;
        left: 45%;
        top: 28%;
        opacity: 0;

        li {
          background-color: var(--border-color);
          /* background-color:#2e344e; */
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          margin: 0 0.5rem;
          transition: all 0.4s ease-in-out;

          &:hover {
            /* background-color: var(--primary-color); */
            background-color: var(--purple-primary);
            color: #e4e4e4;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;
            color: rgb(80, 43, 207);
          }
        }
      }
      &__title {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
      }

      &__subtitle {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        color: #2e344e;
      }
      &__button {
        background-color: rgb(80, 43, 207);
        margin: 0.5rem 1rem 2rem 1rem;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 90%;
      }

      &__image {
        img {
          border-radius: 3%;
        }
        &::before {
          border-radius: 3%;

          content: "";
          position: absolute;
          left: 2%;
          top: 1.5%;
          height: 0;
          width: 0;
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          ul {
            transform: translateY(0);
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;
            opacity: 1;
            li {
              transition: all 0.4s ease-in-out;
              &:hover {
                color: #e4e4e4;

                /* background-color: var(--primary-color); */
              }
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease-in-out;
                color: rgb(80, 43, 207);
              }
            }

            li:hover {
              svg {
                color: #e4e4e4;

                /* color: var(--white-color); */
              }
            }
            svg {
              font-size: 2rem;
            }
          }
          &::before {
            height: calc(100% - 47%);
            width: calc(100% - 4%);
            background-color: white;
            opacity: 0.9;
            transform-origin: left;

            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
}
