.cursoPage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__content {
    align-self: center;
    width: 80%;

    &__portada {
      height: 31vw;
      width: 100%;
      margin-top: 2%;
      background-color: white;
      padding: 0.5% 0.5%;
      border-radius: 20px;
      margin-bottom: 1%;
      border: 2px solid #5f00d1;

      box-shadow: 4px 4px 1px #5f00d1;
      &__img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    &__loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }

    &__info {
      margin-top: 3%;

      align-self: center;
      background-color: white;
      padding: 3% 2% 3%;
      border-radius: 20px;
      margin-bottom: 5%;
      border: 2px solid #5f00d1;
      box-shadow: 4px 4px 1px #5f00d1;
      &__title {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: bold;
        color: rgb(80, 43, 207);
        font-family: "Montserrat";
      }
      &__subtitle {
        color: #7d7d7d;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    &__teacher {
      margin-top: 3%;

      align-self: center;
      background-color: white;
      padding: 3% 2% 2%;
      border-radius: 20px;
      margin-bottom: 5%;
      border: 2px solid #5f00d1;

      box-shadow: 4px 4px 1px #5f00d1;
      &__title {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: bold;
        color: rgb(80, 43, 207);
        font-family: "Montserrat";
      }
      &__subtitle {
        color: #7d7d7d;
        font-size: 16px;
      }
      &__name {
        color: black;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        margin-top: -20px;
      }
      &__work {
        color: black;
        font-size: 12px;
        display: flex;
        justify-content: center;
      }

      &__icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: 10px 0px;

        .icon {
          border: 2px solid #4201b3;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: all 0.4s ease-in-out;
          height: 35px;
          cursor: pointer;
          &:hover {
            border: 2px solid #4201b3;
            color: #4201b3;
          }
          &:not(:last-child) {
            margin-right: 0.5rem;
          }
          svg {
            margin: 0.5rem;
          }
        }

        .i-youtube {
          color: #4201b3;

          &:hover {
            border: 2px solid red;
            color: red;
          }
        }
        .i-github {
          color: #4201b3;

          &:hover {
            border: 2px solid #5f4687;
            color: #5f4687;
          }
        }
        .i-gitlab {
          color: #4201b3;

          &:hover {
            border: 2px solid #f46a25;
            color: #f46a25;
          }
        }
        .i-linkedin {
          color: #4201b3;

          &:hover {
            border: 2px solid #0a66c2;
            color: #0a66c2;
          }
        }
        .i-instagram {
          color: #4201b3;

          &:hover {
            border: 2px solid #8c48be;
            color: #8c48be;
          }
        }
        .i-facebook {
          color: #4201b3;
          margin-right: 1rem;
          &:hover {
            border: 2px solid #0a66c2;
            color: #0a66c2;
          }
        }
      }
    }
    .button {
      background-color: rgb(80, 43, 207);
      border-color: rgb(80, 43, 207);
      border-width: 0px;
      border-radius: 5px;
      color: white;
      height: 41px;
      width: 40%;
      margin-bottom: 20px;
      box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
    }
    .button:disabled {
      background-color: rgb(80, 43, 207);
      border-color: rgb(80, 43, 207);
      opacity: 0.5;
      border-width: 0px;
      border-radius: 5px;
      color: white;
      height: 41px;
      width: 40%;
      margin-bottom: 20px;
      box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
    }
  }
}
@media (max-width: 890px) {
  .restore {
    &__form {
      width: 80%;
    }
    .button {
      width: 100% !important;
    }
  }
}
