.restore {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;

  &__form {
    margin-top: 3%;
    width: 45%;
    align-self: center;
    background-color: white;
    padding: 5% 5% 0%;
    border-radius: 20px;
    margin-bottom: 1%;
    box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);

    &__back {
      display: flex;
      font-size: 16px;
      font-weight: bold;

      color: rgb(80, 43, 207);
      font-family: "Montserrat";
    }
    &__title {
      margin-top: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      font-weight: bold;

      color: rgb(80, 43, 207);
      font-family: "Montserrat";
    }
    &__subtitle {
      color: #7d7d7d;
      font-size: 16px;
    }
    &__textButton {
      font-size: 16px;
      font-weight: bold;
    }
    &__datos {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__space {
        height: 50px;
        width: 100%;
        margin-top: -20px;
        margin-bottom: 20px;
      }
      &__button {
        justify-content: center;
        display: flex;
        margin-bottom: 10%;
      }
    }

    .button {
      width: 60% !important;
    }
    a {
      text-decoration: none;
    }
  }
  .button {
    background-color: rgb(80, 43, 207);
    border-color: rgb(80, 43, 207);
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 40%;
    margin-bottom: 20px;
    box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
  }
  .button:disabled {
    background-color: rgb(80, 43, 207);
    border-color: rgb(80, 43, 207);
    opacity: 0.5;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 40%;
    margin-bottom: 20px;
    box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
  }
}
@media (max-width: 890px) {
  .restore {
    &__form {
      width: 80%;
    }
    .button {
      width: 100% !important;
    }
  }
}
