.perfil {
  width: 100%;
  display: flex;
  justify-content: center;
  &__avatar {
    width: 100%;
    text-align: center;
    padding: 1rem 0rem 0rem;
    margin-bottom: 5%;
    img {
      width: 180px;
      background-color: white;
      object-fit: cover;
      height: 180px;
      border-radius: 50%;
      border: 4px solid rgb(80, 43, 207);
      // box-shadow: 4px 3px 1px rgb(80, 43, 207);

      box-shadow: 4px 4px 8px rgba(25, 29, 43, 0.44);
    }
  }
  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  &__form {
    margin-top: 4%;
    border-radius: 10px;
    padding: 3% 5%;
    border-radius: 20px;
    box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);

    background-color: white;

    width: 60%;
    align-self: center;
    margin-bottom: 4%;

    &__title {
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      font-weight: bold;

      color: rgb(80, 43, 207);
      font-family: "Montserrat";
    }
    &__subtitle {
      color: rgb(80, 43, 207);
    }
    &__subtitle2 {
      color: rgb(80, 43, 207);
      border: 1px solid rgb(80, 43, 207);
      border-radius: 20px;
      padding: 1% 10%;
      font-size: 16px;
      display: flex;
      justify-content: center;
    }
    &__button {
      justify-content: center;
      display: flex;
      margin-bottom: 6%;

      &__textButton {
        font-size: 16px;
        font-weight: bold;
        justify-content: center;
      }
      .button {
        background-color: rgb(80, 43, 207);
        border-color: rgb(80, 43, 207);
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 30%;
        box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);
      }
    }

    &__datos {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: -9%;

        &__icon {
          border: 2px solid gray;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: all 0.4s ease-in-out;
          color: gray;
          background-color: white;

          cursor: pointer;

          &:not(:last-child) {
            // margin-right: 1rem;
          }
          svg {
            margin: 0.7rem;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .perfil {
    &__form {
      width: 80%;
      padding: 3% 5% 3% 7%;

      &__button {
        margin-bottom: 8%;

        .button {
          width: 100% !important;
          margin-bottom: 10px;
        }
      }
      &__datos {
        &__icons {
          margin-top: -11%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .perfil {
    &__form {
      &__datos {
        &__icons {
          margin-top: -13%;
        }
      }
    }
  }
}

.camera {
  &:hover {
    border: 2px solid rgb(80, 43, 207);
    color: rgb(80, 43, 207);
  }
}
