.AdminModalUsers {
  width: 100%;
  color: rgb(80, 43, 207);

  &__form {
    &__datos {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__title {
      }
      &__icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: -7%;
        margin-right: -5px;

        &__icon {
          border: 2px solid gray;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: all 0.4s ease-in-out;
          color: gray;
          background-color: white;

          cursor: pointer;

          &:not(:last-child) {
          }
          svg {
            margin: 0.7rem;
          }
        }
      }

      &__image {
        width: 100%;
        text-align: center;
        padding: 1rem 0rem 0rem;
        margin-bottom: 5%;
        img {
          width: 150px !important;
          background-color: white;
          object-fit: cover;
          height: 150px;
          border-radius: 50%;
          border: 4px solid rgb(80, 43, 207);

          box-shadow: 4px 4px 8px rgba(25, 29, 43, 0.44);
          margin-bottom: 20px;
        }
      }
      &__listCourse {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      &__info {
      }
    }
  }
  .button {
    background-color: rgb(80, 43, 207);
    border-color: rgb(80, 43, 207);
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 30%;
    box-shadow: 2px 2px 8px rgba(25, 29, 43, 0.5);
    &__colorGray {
      background-color: #5c636a;
      border-color: #5c636a;
      border-width: 0px;
      border-radius: 5px;
      color: white;
      height: 41px;
      width: 30%;
    }
  }
  .button:disabled {
    background-color: rgb(113, 72, 248);
    border-color: rgb(113, 72, 248);
    opacity: 0.5;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 30%;
    box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
  }
  .btn {
    background-color: rgb(80, 43, 207) !important;
    border-color: rgb(80, 43, 207) !important;
    width: 270px;
  }
  .btn:hover {
    background-color: rgb(80, 43, 207) !important;
    border-color: rgb(80, 43, 207) !important;
  }
  .modal-content {
    height: fit-content;
    align-self: center;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;

    padding: 2% 5% 2% 5%;
    border-radius: 20px;
    box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);
  }
  .modal-dialog {
    height: 240%;
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 700px;
  }
}

.form-check-input:checked {
  background-color: rgb(80, 43, 207);
  border-color: rgb(80, 43, 207);
}

.camera {
  &:hover {
    border: 2px solid rgb(80, 43, 207);
    color: rgb(80, 43, 207);
  }
}

@media (max-width: 576px) {
  .AdminModalCourses {
    &__form {
      &__datos {
        &__listCourse {
          display: block;
        }
      }
    }
    .btn {
      width: 100%;
    }
  }
}
@media (max-height: 920px) and (max-width: 800px) {
  .AdminModalUsers {
    .modal-dialog {
      height: 300%;
      margin-top: 220px;
    }
  }
}
@media (max-height: 760px) and (max-width: 800px) {
  .AdminModalUsers {
    .modal-dialog {
      height: 380%;
      margin-top: 220px;
    }
  }
}
