.coursesDest {
  min-height: 100vh;
  width: 100%;

  &__content {
    padding: 1rem 12rem;

    @media screen and (max-width: 1100px) {
      padding: 3rem 7rem 5rem;
    }
    @media screen and (max-width: 768px) {
      padding: 1rem 5rem 5rem;
    }
    @media screen and (max-width: 576px) {
      padding: 1rem 3rem 5rem;
    }

    &__tittle {
      margin-top: 8%;
      margin-bottom: 10%;
    }
  }
}
