.noticesDest {
  width: 100%;
  background-color: rgb(80, 43, 207);
  margin-top: 5%;

  &__content {
    padding: 0.1rem 10rem 5rem;

    @media screen and (max-width: 1100px) {
      padding: 0.1rem 7rem 5rem;
    }
    @media screen and (max-width: 768px) {
      padding: 1rem 5rem 5rem;
    }
    @media screen and (max-width: 576px) {
      padding: 1rem 3rem 3rem;
      min-height: 500px;
    }

    &__tittle {
      margin-top: 6%;
      margin-bottom: 5%;
      color: white;
      font-weight: 700;
      font-size: 50px;
      display: flex;
      justify-content: center;
    }
    &__links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      grid-gap: 2rem;
      margin-top: 5%;
      @media screen and (max-width: 1150px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 920px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10%;
      }
    }
  }
}
