.linkRedes {
  &__icons {
    display: flex;
    justify-content: center;
    &__icon {
      border: 2px solid var(--border-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      color: white;

      cursor: pointer;
      &:hover {
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
      svg {
        margin: 0.5rem;
      }
    }
  }
}

.youtube {
  &:hover {
    border: 2px solid red;
    color: red;
  }
}
.github {
  &:hover {
    border: 2px solid #5f4687;
    color: #5f4687;
  }
}
.gitlab {
  &:hover {
    border: 2px solid #f46a25;
    color: #f46a25;
  }
}
.linkedin {
  &:hover {
    border: 2px solid #0a66c2;
    color: #0a66c2;
  }
}
.instagram {
  &:hover {
    border: 2px solid #8c48be;
    color: #8c48be;
  }
}
.facebook {
  &:hover {
    border: 2px solid #0a66c2;
    color: #0a66c2;
  }
}
