.footer {
  padding: 1.8rem 12% 1.8rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(80, 43, 207);
  align-items: center;
  font-size: 20px;

  &__text {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 1.5rem 0% 1.5rem;
    &__text {
      margin-bottom: 5%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
