.slides {
  &__content {
    background-color: white;
    padding: 5% 3% 2%;
    border-radius: 10px;
    box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);

    &__notices {
      border-radius: 10px;
      box-shadow: 7px 7px 2px rgb(80, 43, 207);
      margin-bottom: 20px;

      &__videos {
        width: 100% !important;
        height: 23rem;
        padding: 0.5rem 0rem;
        background-color: black;
        border-radius: 5px;

        .fb-video {
          display: flex;
          align-items: center;
        }
      }
      &__images {
        width: 100% !important;
        height: 22.5rem;
        border-radius: 5px;
        position: relative;
        border: 2px solid rgb(80, 43, 207);
      }
    }
    .swiper {
      padding: 0px 10px 40px;
      &-scrollbar-drag {
        background: rgb(80, 43, 207);
      }
      &-button-next {
        background-color: rgb(80, 43, 207, 0.8);
        color: white;
        border-radius: 100%;
        height: 55px;
        width: 55px;
        font-weight: 600;
        &:after {
          font-size: 30px !important;
        }
        @media screen and (max-width: 768px) {
          height: 40px;
          width: 40px;
          &:after {
            font-size: 20px !important;
          }
        }
      }
      &-button-prev {
        background-color: rgb(80, 43, 207, 0.8);
        border-radius: 100%;
        color: white;

        height: 55px;
        width: 55px;
        font-weight: 600;
        &:after {
          font-size: 30px !important;
        }
        @media screen and (max-width: 768px) {
          height: 40px;
          width: 40px;
          &:after {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}
