body {
  margin: 0;
  padding-top: 4.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--neutral-light);
  color: white;
  /* color: var(--font-light-color); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --swiper-theme-color: rgb(80, 43, 207) !important;
  --purple-primary: #554dde;
  --accent-blue: #35afbc;
  --accent-pink: #f44e77;
  --accent-purple: #5400ce;
  --neutral-light: #f2f6ff;
  --lavender-secondary: #6a6d9e; /*Primary Font Color*/
  --dark-primary: #16194f;
  --border-colour: #cad6f1;

  --primary-color: rgb(80, 43, 207);
  --primary-color-light: #057fff;
  --secondary-color: #ff7675;
  --background-dark-color: #f1f1f1;
  --background-dark-grey: #e4e4e4;
  --border-color: #cbced8;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #151515;
  --font-light-color: #313131;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #e4e4e4;
  --scrollbar-bg-color: #383838;
  --scrollbar-thump-color: #6b6b6b;
  --scrollbar-track-color: #383838;
}
