.secondaryButoon {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #3701a9;
  box-shadow: 1px 8px 3px black;
  color: white;
  width: 100%;
  padding: 14px 0rem;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  border-radius: 10px;
  outline: none;
  border: 2px solid #00dbc4;
  cursor: pointer;
  margin-bottom: 1rem;
  img {
    padding-left: 0.9rem;
  }
}
