.adminLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3%;

  &__form {
    width: 40%;
    justify-content: center;
    align-self: center;
    background-color: white;
    padding: 4% 5% 4%;
    border-radius: 20px;
    margin-bottom: 1%;
    box-shadow: 7px 7px 8px rgba(25, 29, 43, 0.44);
    &__tittle {
      color: rgb(80, 43, 207);
      text-align: center;
      font-size: 30px;
      font-weight: bold;

      color: rgb(80, 43, 207);
      font-family: "Montserrat";
    }
    &__subtittle {
      color: rgb(80, 43, 207);
      text-align: center;
      margin-bottom: 40px;
      font-size: 14px;
    }
    &__button {
      display: flex;
      justify-content: center;
      .button {
        background-color: rgb(80, 43, 207);
        border-color: rgb(80, 43, 207);
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 60%;
        margin-bottom: 20px;
        box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
      }
      .button:disabled {
        background-color: rgb(80, 43, 207);
        border-color: rgb(80, 43, 207);
        opacity: 0.5;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 60%;
        margin-bottom: 20px;
        box-shadow: 4px 5px 8px rgba(25, 29, 43, 0.5);
      }
    }

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      width: 100%;
    }
    svg {
      height: 130px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .adminLogin {
    &__form {
      width: 80%;
      &__boton {
        .button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .adminLogin {
    height: 700px !important;
  }
}
